@import "tailwindcss";
@source "./index.html";
@source "./app.js";

@theme {
  --font-sans: Vazirmatn, Tahoma, Arial, sans-serif;
}

html { direction: rtl; }
body { font-family: Vazirmatn, Tahoma, Arial, sans-serif; }
button { cursor: pointer; }
button:disabled { cursor: not-allowed; opacity: .5; }
.ltr { direction: ltr; unicode-bidi: embed; }
